<h1>Products Index</h1>
  <% @products.each do |product| %>
    <h2><%= product.name %></h2>
    <h3><%= product.description %></h3>
    <h4><%= product.price %></h4>
    <a href="/products/<%= product.id %>"
    >More Info</a>
   <% end %> 

